@media (max-width: 1135px){
    header .btn{
        display: block;
        margin-left: 80%;
    }
    header .menu{
        position: fixed;
        background-color: #2885e3;
        flex-direction: column;
        min-width: 400px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
    }
    header .menu.active{
        right: 0;
    }
    header .menu .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }
    header .menu .nav-btn{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
    .parallax{
        display: none;
    }
    .banner {
        margin-top: -200vh;
        height: 150vh;
        background: linear-gradient(#14244175, #152644ab), url(/img/3.png);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .reg-btn{
        margin-top: -20px;
    }

}
@media (max-width: 750px){
    #forum{
        height: 250vh;
        width: 100%;
        text-align: justify;
        justify-content: center;
        align-items: center;
    }
    #forum .left img{
        margin-top: 20px;
        width: 100%;
    }
    .flex .right{
        position: absolute;
        margin-top: 780px;
    }
    #forum .illustration{
        margin-top: 700px !important;
        display: none;
    }
    .banner{
        height: 100vh;;
    }
    .box3{
        width: 100%;
        padding: 20px;
        padding-top: -20px;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        padding-top: 50px;
        background-color: #fff;
    }
    .ojectif-item{
        width: 100%;
        height: auto;
    }
    #program{
        height: auto;
    }
    #program .gap-10{
        display: none;
    }
}

@media (max-width: 991px) {
    footer{
        padding: 40px;
    }
    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    .copyright{
        padding: 20px 40px 30px;
    }
}
@media (max-width: 768px){
    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}